<!DOCTYPE html>

<html>
<head>
  <title>Fabric.Identity Error</title>
  <link rel="stylesheet" href="~/css/error.css" />
</head>
<body>
<div class="nav-bar">
  <div class="nav-bar-brand">
    <a class="brand">
      <img src="~/images/TriFlameMultiColored.svg" />
    </a>
  </div>
</div>
<div class="error-tile">
  <div class="content-column">
    <div class="error-img"></div>
  </div>
  <div class="content-column">
    <div class="error-header-string">Error</div>
    <div class="error-message-light">We apologize for the inconvenience but we were unable to authenticate you at the moment. Please contact your System Administrator.</div>
  </div>
  <hr>
  <div class="error-button-container">
    <a href="~/account/login"><div class="error-button">Login</div></a>
  </div>
</div>
</body>
</html>