<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <security>
      <authentication>
        <anonymousAuthentication enabled="true" />
        <windowsAuthentication enabled="true" />
      </authentication>
    </security>
    <modules>
      <remove name="WebDAVModule" />
    </modules>
    <handlers>
      <remove name="WebDAV" />
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath="bin\IISSupport\VSIISExeLauncher.exe" arguments="-argFile IISExeLauncherArgs.txt" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout" hostingModel="outofprocess">
      <environmentVariables>
        <clear />
        <environmentVariable name="HostingOptions__UseIis" value="true" />
        <environmentVariable name="IssuerUri" value="" />
        <environmentVariable name="ASPNETCORE_HOSTINGSTARTUPASSEMBLIES" value="Microsoft.AspNetCore.ApplicationInsights.HostingStartup" />
        <environmentVariable name="COMPLUS_ForceENC" value="1" />
        <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
        <environmentVariable name="UseDiscoveryService" value="true" />
        <environmentVariable name="SigningCertificateSettings__PrimaryCertificateThumbprint" value="EBC1D4A73E8061E78F2157C3D618544A464C299E" />
        <environmentVariable name="HostingOptions__UseTestUsers" value="false" />
        <environmentVariable name="HostingOptions__StorageProvider" value="SqlServer" />
        <environmentVariable name="SigningCertificateSettings__UseTemporarySigningCredential" value="false" />
        <environmentVariable name="ConnectionStrings__IdentityDatabase" value="Server=HC2353.hqcatalyst.local;Database=Identity;Trusted_Connection=True;MultipleActiveResultSets=True;" />
        <environmentVariable name="IdentityServerConfidentialClientSettings__Authority" value="http://localhost/IdentityDev" />
        <environmentVariable name="SigningCertificateSettings__EncryptionCertificateThumbprint" value="EBC1D4A73E8061E78F2157C3D618544A464C299E" />
        <environmentVariable name="DiscoveryServiceEndpoint" value="https://HC2353.hqcatalyst.local/DiscoveryService/v1" />
        <environmentVariable name="AllowLocalLogin" value="false" />
        <environmentVariable name="IdentityServerApiSettings__ApiSecret" value="secret" />
        <environmentVariable name="IdentityServerConfidentialClientSettings__ClientSecret" value="secret" />
        <environmentVariable name="AzureActiveDirectorySettings__Scope__1" value="profile" />
        <environmentVariable name="AzureActiveDirectorySettings__Authority" value="https://login.microsoftonline.com/common" />
        <environmentVariable name="AzureActiveDirectorySettings__Scope__0" value="openid" />
        <environmentVariable name="AzureActiveDirectorySettings__TenantAlias__0" value="Ryan Tenant" />
        <environmentVariable name="AzureActiveDirectorySettings__ClaimsIssuer" value="https://login.microsoftonline.com/0ced5a42-fa6e-4d17-bb75-da8c4dbec43c" />
        <environmentVariable name="AzureActiveDirectorySettings__TenantAlias" value="Ryan Tenant" />
        <environmentVariable name="WindowsAuthenticationEnabled" value="true" />
        <environmentVariable name="AzureActiveDirectorySettings__ClientId" value="0b00a1c9-2eb2-4307-8111-57ed6779b82e" />
        <environmentVariable name="AzureActiveDirectorySettings__ClientSecret" value="!!enc!!:UXFavsHCJSUiGs5nthYbM0lLYyBz7BuMdVgMK2WXbxhdUrstE6lGAYMfdszJGMjwjdsFoxKw5jhk5YTjHW4aWJHVj+hC4IBzvU4X2Mln57eORD4vMpf6Wn7m5BZ07KOoXkgZ8kKDxgkQ22/u1GslrxsieAsF++0qQmBdW3qNukbZBGMyPcfdNRh8vT99AjoJ1NevdL8UsjxaSKLse+JmoxmZMgY+OLz8Ei4ZiNGY41Jwsw6Tfqg5/EFqIduZnYSKpscH8KlGK4lWOQ/WEgyP5q39Py3RT1cHBOz1u6HgKFZw96+9LPW6vV6IseHSYVKssMUVfcdD1jytx+J8beUGQw==" />
        <environmentVariable name="AzureActiveDirectorySettings__IssuerWhiteList__0" value="https://sts.windows.net/0ced5a42-fa6e-4d17-bb75-da8c4dbec43c/" />
        <environmentVariable name="AzureAuthenticationEnabled" value="true" />
        <environmentVariable name="AzureActiveDirectorySettings__DisplayName" value="Azure AD" />
      </environmentVariables>
    </aspNetCore>
  </system.webServer>
</configuration>