<?xml version="1.0" encoding="utf-8"?>
<installation>
  <settings>
    <scope name="identity">
      <!-- Tenants identity is to be registered with -->
      <tenants>
        <variable name="" alias="" />
      </tenants>
      <!-- Reply Url for Azure App registration -->
      <replyUrls>
        <variable name="" alias="" />
      </replyUrls>
      <!-- The Tenant identity is to be registered with -->
      <claimsIssuerTenant>
        <variable name="" alias="" />
      </claimsIssuerTenant>
      <!-- The Tenants that are allowed through to the claims issuer  -->
      <allowedTenants>
        <variable name="" alias="" />
      </allowedTenants>
      <!-- The name of the secret to be created for the azure application registration -->
      <variable name="" value="" />
    </scope>
  </settings>
</installation>