<?xml version="1.0" encoding="utf-8"?>
<installation>
  <settings>
    <scope name="identity">
	  <!-- Tenants identity is to be registered with -->
      <tenants>
        <variable name="4d07d6d8-58e4-45a4-8ce9-5d2cfc00c65f" alias="MikeTenant" />
        <variable name="0ced5a42-fa6e-4d17-bb75-da8c4dbec43c" alias="RyanTenant" />
      </tenants>
      <!-- Reply Url for Azure App registration -->
      <replyUrls>
        <variable name="https://hckeniis2016.hqcatalyst.local/identity" alias="" />
        <variable name="https://hckeniis2016.hqcatalyst.local/identity/signin-oidc" alias="" />
      </replyUrls>
      <!-- The Tenant identity is to be registered with -->
      <claimsIssuerTenant>
        <variable name="4d07d6d8-58e4-45a4-8ce9-5d2cfc00c65f" alias="MikeTenant" />
      </claimsIssuerTenant>
      <!-- The Tenants that are allowed through to the claims issuer  -->
      <allowedTenants>
        <variable name="0ced5a42-fa6e-4d17-bb75-da8c4dbec43c" alias="RyanTenant" />
      </allowedTenants>
      <!-- The name of the secret to be created for the azure application registration -->
      <variable name="azureSecretName" value="AADOnceAgain" />
      <registeredApplications>
        <variable appName="Identity Provider Search Service" tenantId="4d07d6d8-58e4-45a4-8ce9-5d2cfc00c65f" tenantAlias="MikeTenant" clientid="2057a221-b20a-4491-9170-9638883e6af0" secret="tTSDjz3ksRYXtDRilAWuzdjIwQ8Sd1kjI2H2H8NtQwU=" />
        <variable appName="Identity Provider Search Service" tenantId="0ced5a42-fa6e-4d17-bb75-da8c4dbec43c" tenantAlias="RyanTenant" clientid="2357c5d9-8ed8-462b-b4b3-93a10bce51c7" secret="iwB8mmQrgpGG4EjJBXJYY1T5J6vjUx9o58ED0/8dRUQ=" />
        <variable appName="Identity Service" tenantId="4d07d6d8-58e4-45a4-8ce9-5d2cfc00c65f" tenantAlias="MikeTenant" clientid="9ab15106-8932-43cc-b2c4-3f998c5da8d4" secret="yrNpL1dTma4rzaV7YMLSj3+MbftsOIepQPM/3MCak7k=" />
      </registeredApplications>
    </scope>
  </settings>
</installation>