<?xml version="1.0" encoding="utf-8"?>
<installation>
  <settings>
    <scope name="common">
      <!-- The encrypted Fabric.Installer client secret, used for registering additional API's
           and Clients with Fabric.Identity. After Fabric.Identity is installed, the secret will 
           be written to this setting -->
      <variable name="fabricInstallerSecret" value="" />
      <!-- The thumb-print of an SSL certificate to use for encrypting/decrypting sensitive information 
           in the config. For initial installation it is recommended to use the thumbprint of the 
           certificate providing TLS/SSL for the website.-->
      <variable name="encryptionCertificateThumbprint" value="" />
      <!-- The address of the Sql Server Instance -->
      <variable name="sqlServerAddress" value="localhost" />
      <!-- The name of the Metadata database on the sql server instance -->
      <variable name="metadataDbName" value="EDWAdmin" />
      <variable name="identityService" value="" />
      <variable name="discoveryService" value="" />
      <variable name="authorizationService" value="" />
      <variable name="webServerDomain" value="" />
      <variable name="clientEnvironment" value="" />
      <variable name="idpssService" value="" />
      <variable name="identityProviderSearchServiceService" value="" />
    </scope>
    <scope name="identity">
      <!-- The path to the location of the zip file that contains the binaries for Fabric.Identity -->
      <variable name="zipPackage" value="Fabric.Identity.API.zip" />
      <!-- The name of the app and app pool that will be created in IIS -->
      <variable name="appName" value="identity" />
      <!-- The thumb-print of an SSL certificate to use for signing access and identity tokens. 
           For initial installation it is recommended to use the thumb-print of the certificate 
           providing TLS/SSL for the website. -->
      <variable name="iisUser" value="" />
      <variable name="primarySigningCertificateThumbprint" value="" />
      <!-- The thumb-print of an SSL certificate to use for encrypting/decrypting sensitive information 
           in the config. For initial installation it is recommended to use the thumb-print of the 
           certificate providing TLS/SSL for the website.-->
      <variable name="encryptionCertificateThumbprint" value="" />
      <!-- An Azure Application Insights instrumentation key that allows telemetry to be recorded in 
           Azure Application Insights. If no instrumentation key is provided, no telemetry will be sent. -->
      <variable name="appInsightsInstrumentationKey" value="" />
      <!-- The name of the IIS website to install the application under -->
      <variable name="siteName" value="Default Web Site" />
      <!-- The name of the Identity database on the sql server instance -->
      <variable name="identityDbName" value="Identity" />
      <!-- The Sql Server role that the app pool user will be added to -->
      <variable name="identityDatabaseRole" value="IdentityServiceRole" />
      <!-- Enables Azure AD integration -->
      <variable name="useAzureAD" value="False" />
      <!-- Enables Windows AD integration -->
      <variable name="useWindowsAD" value="True" />
      <!-- Tenants identity is to be registered with -->
      <tenants>
        <variable name="" alias="" />
      </tenants>
      <!-- Reply Url for Azure App registration -->
      <replyUrls>
        <variable name="" alias="" />
      </replyUrls>
      <!-- The Tenant identity is to be registered with -->
      <claimsIssuerTenant>
        <variable name="" alias="" />
      </claimsIssuerTenant>
      <!-- The Tenants that are allowed through to the claims issuer  -->
      <allowedTenants>
        <variable name="" alias="" />
      </allowedTenants>
      <variable name="applicationEndPoint" value="https://HC2353.hqcatalyst.local/identity" />
    </scope>
    <scope name="identityProviderSearchService">
      <!-- The name of the app that will be created in IIS -->
      <variable name="appName" value="IdentityProviderSearchService" />
      <!-- The name of the app pool that will be created in IIS -->
      <variable name="appPoolName" value="IdentityProviderSearchService" />
      <!-- The name of the IIS website to install the application under -->
      <variable name="siteName" value="Default Web Site" />
      <variable name="iisUser" value="" />
    </scope>
  </settings>
</installation>