<?xml version="1.0" encoding="utf-8"?>
<installation>
  <settings>
    <scope name="common">
      <!-- The encrypted Fabric.Installer client secret, used for registering additional API's and Clients with Fabric.Identity -->
      <variable name="fabricInstallerSecret" value="" />
      <!-- The thumbprint of an SSL certificate to use for encrypting/decrypting sensitive information in the config -->
      <variable name="encryptionCertificateThumbprint" value="" />
    </scope>
    <scope name="identity">
      <!-- The path to the location of the zip file that contains the binaries for Fabric.Identity -->
      <variable name="zipPackage" value="Fabric.Identity.API.zip" />
      <!-- The root of the web site where you want to install Fabric.Authorization -->
      <variable name="webRoot" value="C:\inetpub\wwwroot" />
      <!-- The name of the app and app pool that will be created in IIS -->
      <variable name="appName" value="identity" />
      <!-- The user account for the app to run under in IIS -->
      <variable name="iisUser" value="IIS_IUSRS" />
      <!-- The thumbprint of an SSL certificate to use for signing access and identity tokens -->
      <variable name="primarySigningCertificateThumbprint" value="" />
      <!-- The URL:port of the CouchDB server -->
      <variable name="couchDbServer" value="http://127.0.0.1:5984" />
      <!-- The username for the CouchDb server -->
      <variable name="couchDbUsername" value="" />
      <!-- The password for the CouchDb server -->
      <variable name="couchDbPassword" value="" />
      <!-- An application insights instrumentaion key that allows telemetry to be recorded in Azure Application insights-->
      <variable name="appInsightsInstrumentationKey" value="" />
      <!-- The name of the IIS website to install the application under -->
      <variable name="siteName" value="Default Web Site" />
      <!-- The URL of the root web site that the application is being installed on -->
      <variable name="hostUrl" value="http://localhost" />
      <!--The DNS name of the LDAP server (usually a domain controller in Windows) -->
      <variable name="ldapServer" value="localhost"/>
      <!-- The port used to connect to the LDAP server -->
      <variable name="ldapPort" value="3269"/>
      <!-- The user name used to authenticate to the ldap server -->
      <variable name="ldapUserName" value=""/>
      <!-- The password for the user used to authenticate to the ldap server -->
      <variable name="ldapPassword" value=""/>
      <!-- Defines whether to connect to the LDAP server using SSL -->
      <variable name="ldapUseSsl" value="true"/>
      <!-- The base domain to search in LDAP, e.g. DC=example,DC=org -->
      <variable name="ldapBaseDn" value=""/>
    </scope>
  </settings>
</installation>