<?xml version="1.0" encoding="utf-8"?>
<installation>
  <settings>
    <scope name="common">
      <tenants>
        <variable name="tenant 1" secret="secret 1" clientid="client 1" />
        <variable name="tenant 2" secret="secret 2" clientid="client 2" />
      </tenants>
    </scope>
  </settings>
</installation>