@model LoginViewModel
<div class="login-page">
    <partial name="_ValidationSummary" />
        <div id="PageOne" class="container">
            <div class="row row-centered login">
                <div id="logincontainer" class="col-xs-4 col-centered radiused">
                    <div class="logo item">
                        <img src="~/images/HC_logo.svg" alt="Health Catalyst Logo">
                    </div>
                    @if (Model.TestCookieExists)
                    {
                        <div>
                            @if (Model.EnableLocalLogin)
                            {
                                <form asp-route="Login">
                                    <input type="hidden" asp-for="ReturnUrl" />
                                    <label asp-for="Username">Email</label>
                                    <div>
                                        <input asp-for="Username" placeholder="Email" autofocus>
                                    </div>
                                    <label asp-for="Password">Password</label>
                                    <a id="forgotpwd" href="#">Forgot Password?</a>
                                    <div>
                                        <input type="password" class="form-control" placeholder="Password" asp-for="Password" autocomplete="off">
                                    </div>
                                    @if (Model.AllowRememberLogin)
                                    {
                                        <div class="checkbox">
                                            <label class="check-label" asp-for="RememberLogin"><input asp-for="RememberLogin">Remember me</label>
                                        </div>
                                    }
                                    <p class="legal">
                                        By signing in you agree to our <br> <a href="#">Terms of Use</a> and <a href="#">Privacy Statement</a>
                                    </p>
                                    <input value="Log In" name="login_but" type="submit" id="login_but" class="button allow-in-read-only allow-in-safe-mode login_but">
                                </form>
                            }
                            <label>Log in with:</label>
                            @foreach (var provider in Model.VisibleExternalProviders)
                            {
                                <div>
                                    <a class="btn btn-default login_but"
                                       asp-action="ExternalLogin"
                                       asp-route-provider="@provider.AuthenticationScheme"
                                       asp-route-returnUrl="@Model.ReturnUrl">
                                        @provider.DisplayName
                                    </a>
                                </div>
                            }
                        </div>
                    }
                    else
                    {
                        <!--The wording used here is borrowed from the same error message when signing into Azure AD.-->
                        <h3>We can't sign you in</h3>
                        <div>
                            <label>Your browser is currently set to block cookies. You need to allow cookies to use this service.</label>
                        </div>
                        <div>
                            <label>
                                Cookies are small text files stored on your computer that tell us when you're signed in.
                                To learn how to allow cookies, check the online help in your web browser.
                            </label>
                        </div>
                        <div>
                            <label>
                                If you think you have reached this page in error, please click the button below to try again.
                            </label>
                        </div>
                        <div>
                            <div>
                                <a class="btn btn-default login_but"
                                   asp-action="Login"
                                   asp-route-testCookieSet="false">
                                    Retry
                                </a>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <br><br><br>
            <div class="footerWrapper" align="center">
                <div class="footerBottom" align="center">
                </div>
            </div>
        </div>
</div>
